/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  background-color: #DEDEDE;

}
*{
border: 1px dashed blue;

}


#carImg{
height: 300px;
width: 500px;
border: 1px solid black;
border-radius: 5%;

}

#inputForm{
text-align: center;
display:inline-block;

}
#image{

width: 600px;
display:inline-block;
padding-left:100px;

}
#specs{
padding-left: 100px;
border-top: 2px solid black;
border-bottom: 2px solid black;


}
#navbar{
height:50px;
background-color:black;
border: 2px solid darkgray;

}
acct{
    font-size: 24px;
}
/*
 * Typography
 */

h1 {
  margin-bottom: 20px;
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
  font-family: Garamond, serif;
  font-size: 40px;
}

h2{
    padding-left: 100px;
    color:white;
    font-style: italic;
    font-weight: bold;
}
h3{
    font-style: italic;
    font-weight: bold;
    font-size: 24px;
}
p{
font-size: 24px;

}
a{
text-decoration:none;
color: black;

}
h6{
    text-align:center;
}
li{
    font-size: 20px;
    font-family: Garamond, serif;
    font-style: italic;
}
#contractButton{
padding-left: 10px;
padding-right: 10px;
font-size: 40px;
font-weight: bold;
font-family: Verdana;
background-color: darkred;
border-radius: 5%;
border: 2px solid black;


}
#tagline{
font-family: cursive;
text-align: center;


}