/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 0px;
  background-color: #CCCCCC;
  margin-top:0px;

}

#header{
    position: fixed;
    display: block;
    background-color: #CCCCCC;
    width: 100%;
    margin-top:0px;
}

#carImg{
height: 300px;
width: 500px;
border: 1px solid black;
border-radius: 5%;
margin-top: 150px;

}
#logo{
height: 75px;
display: block;

}
#inputForm{
text-align: center;
display:inline-block;

}
#image{

width: 600px;
display:inline-block;
padding-left:100px;

}
#specs{
padding-left: 100px;
border-top: 2px solid black;
border-bottom: 2px solid black;
background-color: #E6E6E6;

}
#navbar{
height:50px;
width: 100%;
background-color:black;
border: 2px solid darkgray;
position: fixed;
display: block;
margin-top: 70px;
}
acct{
    font-size: 24px;
}
/*
 * Typography
 */

h1 {
  margin-bottom: 20px;
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
  font-family: Garamond, serif;
  font-size: 40px;
}

h2{
    padding-left: 100px;
    color:white;
    font-style: italic;
    font-weight: bold;
}
h3{
    font-style: italic;
    font-weight: bold;
    font-size: 24px;
}
p{
font-size: 24px;

}
a{
text-decoration:none;
color: black;

}
h6{
    text-align:center;
    font-size: 12px;
}
li{
    font-size: 20px;
    font-family: Garamond, serif;
    font-style: italic;
}
#contractButton{
padding-left: 10px;
padding-right: 10px;
font-size: 40px;
font-weight: bold;
font-family: Verdana;
background-color: darkred;
border-radius: 5%;
border: 2px solid black;


}
#tagline{
font-family: cursive;
text-align: center;


}